@import "../modules/_variables.scss";

header {
  background: #0e0603;
  position: relative;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;

  @include respond(smallest) {
    position: absolute;
    display: flex;

    justify-content: space-between;
  }
}

@media (min-width: 2000px) {
  header {
    max-width: 2000px;
    background: #0e0603;
  }
}

.header__logo {
  font-size: 1.2rem;
  display: inline-block;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #e7af3c;
  font-family: "Montserrat";

  @include respond(smallest) {
    margin-left: 2rem;
  }
}

.navlinks {
  display: none;
  list-style: none;
  margin: 0;
  margin-left: 2rem;

  @include respond(smallest) {
    display: flex;
    justify-self: flex-end;
  }
}

.navlinks-item {
  margin: 0;
  margin-right: 2rem;

  & a {
    text-decoration: none;
    color: #e7af3c;
    opacity: 1;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    font-family: "Montserrat";
    transition: color 0.2s ease;
  }

  & a:hover {
    color: #eedbbd;
  }
}
