.introduction-container {
  position: absolute;

  color: $color-offwhite;
  max-width: 35rem;
  background: transparent;

  padding: 0 2rem;
  letter-spacing: 0.05rem;
  text-transform: none;
  line-height: 1.6;
  font-size: 0.9rem;
  font-weight: 100;

  & span {
    display: inline-block;
    margin-bottom: 1rem;
  }

  & h1 {
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
  }

  @include respond(smallest) {
    top: 10rem;
    max-width: 35rem;
    letter-spacing: 0.05rem;
    text-transform: none;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 100;
  }

  @media (min-width: 2000px) {
    align-self: center;
  }

  // @include respond(largest) {
  //   max-width: 40rem;
  //   left: calc(50% - 20rem);
  // }
}

.introduction-header {
  font-family: "Montserrat";
  font-weight: 400;
  margin-bottom: 4rem;

  @include respond(largest) {
    text-align: center;
  }
}

.art-link,
.art-link:active,
.art-link:visited {
  color: $color-white;

  &:hover {
    color: $color-secondary-light;
  }
}

.icons {
  display: flex;
  right: 0;
  width: 100%;
  justify-content: flex-start;
  margin-top: 1rem;

  @include respond(largest) {
    justify-content: center;
  }
}
