//// RESET ////

*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  height: 100vh;

  @media (min-width: 2000px) {
    background: $color-black;
  }
}

main {
  height: 100%;
}

App {
  position: relative;
}

::-webkit-scrollbar {
  width: 3px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background: $color-secondary-light;
}
